<!DOCTYPE html>
<html>

<head>
	<title>config</title>
	<link href="../styles/style.css" rel="stylesheet" />
</head>

<body class="background-app">
	<div class="session-container">
		<h1>Login</h1>
		<div>
			<label for="">usuario</label>
			<input name="user" type="text" value="" />
		</div>
		<div>
			<label for="">password</label>
			<input name="pass" type="text" value="" />
		</div>
		<hr />
		<div>
			<button id="button-log">loggear</button>
			<button id="button-reg">registrar</button>
		</div>
	</div>

	<button class="config-button"><img class="config-img" alt="" src="../images/settings_img.svg" />config</button>
	<script src="../scripts/login/login.js"></script>
</body>

</html>
