<!DOCTYPE html>
<html>

<head>
	<title>config</title>

	<link href="../styles/style.css" rel="stylesheet" />
</head>
<body class="background-app">
	<div class="session-container">
		<h1>Registrar</h1>
		<div>
			<label for="">usuario</label>
			<input name="user" type="text" value="" />
		</div>
		<div>
			<label for="">password</label>
			<input name="pass" type="text" value="" />
		</div>
		<hr />
		<div>
			<button id="button-create">crear</button>
			<button id="button-back">volver</button>
		</div>
	</div>

	<script src="../scripts/login/register.js"></script>
</body>

</html>
